@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Epilogue', sans-serif !important;
}

@layer base {
    pre {
        @apply !max-w-[calc(100vw-2rem)] md:max-w-full
    }
}

@layer components {
    .hljs {
        @apply !bg-mantle !text-base !text-text !font-mono [&_*]:!font-mono;
    }

    .hljs-keyword {
        @apply !text-mauve !not-italic;
    }

    .hljs-built_in {
        @apply !text-red;
    }

    .hljs-type {
        @apply !text-yellow;
    }

    .hljs-literal {
        @apply !text-peach;
    }

    .hljs-number {
        @apply !text-peach;
    }

    .hljs-operator {
        @apply !text-teal;
    }

    .hljs-punctuation {
        @apply !text-subtext1;
    }

    .hljs-property {
        @apply !text-teal;
    }

    .hljs-regexp {
        @apply !text-pink;
    }

    .hljs-string {
        @apply !text-green;
    }

    .hljs-char.escape_ {
        @apply !text-green;
    }

    .hljs-subst {
        @apply !text-subtext0;
    }

    .hljs-symbol {
        @apply !text-flamingo;
    }

    .hljs-variable {
        @apply !text-mauve;
    }

    .hljs-variable.language_ {
        @apply !text-mauve;
    }

    .hljs-variable.constant_ {
        @apply !text-peach;
    }

    .hljs-title {
        @apply !text-blue;
    }

    .hljs-title.class_ {
        @apply !text-yellow;
    }

    .hljs-title.function_ {
        @apply !text-blue;
    }

    .hljs-params {
        @apply !text-text;
    }

    .hljs-comment {
        @apply !text-surface2;
    }

    .hljs-doctag {
        @apply !text-red;
    }

    .hljs-meta {
        @apply !text-peach;
    }

    .hljs-section {
        @apply !text-blue;
    }

    .hljs-tag {
        @apply !text-subtext0;
    }

    .hljs-name {
        @apply !text-mauve;
    }

    .hljs-attr {
        @apply !text-blue;
    }

    .hljs-attribute {
        @apply !text-green;
    }

    .hljs-bullet {
        @apply !text-teal;
    }

    .hljs-code {
        @apply !text-green;
    }

    .hljs-emphasis {
        @apply !text-red;
        font-style: italic;
    }

    .hljs-strong {
        @apply !text-red;
        font-weight: bold;
    }

    .hljs-formula {
        @apply !text-teal;
    }

    .hljs-link {
        @apply !text-sapphire;
    }

    .hljs-quote {
        @apply !text-green;
    }

    .hljs-selector-tag {
        @apply !text-yellow;
    }

    .hljs-selector-id {
        @apply !text-blue;
    }

    .hljs-selector-class {
        @apply !text-teal;
    }

    .hljs-selector-attr {
        @apply !text-mauve;
    }

    .hljs-selector-pseudo {
        @apply !text-teal;
    }

    .hljs-template-tag {
        @apply !text-flamingo;
    }

    .hljs-template-variable {
        @apply !text-flamingo;
    }

    .hljs-addition {
        @apply !text-green;
    }

    .hljs-deletion {
        @apply !text-red;
    }
}